@import "../../style/config.scss";
:host {
  max-width: 1024px;
  padding: 0 4rem;
  display: block;
  margin: 2rem auto;
}

.paginator {
  list-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  &-item {
    display: inline-block;

    a, span {
      display: inline-block;
      padding: 0.6rem;
    }

    a {
      text-decoration: none;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }

    .active {
      color: $marvel-color;
    }

    &:not(:last-child)::after {
      content: "-";
      display: inline-block;
      margin: 0 0.4rem;
    }
  }
}
