<ul class="grid-4">
  <li *ngFor="let item of list" class="comic" [ngClass]="{'read': item.isInCollection}" @comicState>
    <div class="comic-cover-container">
      <div class="comic-cover">
        <img [src]="item.thumbnail.path + '/portrait_uncanny.' + item.thumbnail.extension" [alt]="item.title + ' cover'"/>
      </div>
      <div class="comic-actions">
        <button
        (click)="add(item)"
        *ngIf="!item.isInCollection"
        class="comic-actions-item">
          <div class="icon"><img src="img/plus.svg" alt="plus icon"/></div>
          <div class="label">Add to your collection</div>
        </button>
        <button
        (click)="remove(item)"
        *ngIf="item.isInCollection"
        class="comic-actions-item">
          <div class="icon"><img src="img/minus.svg" alt="minus icon"/></div>
          <div class="label">Remove from your collection</div>
        </button>
      </div>
      <div class="comic-links">
        <a class="comic-links-item" [href]="item.urls[0].url" target="_blank">
          <div class="icon">
            <img src="img/link.svg" alt="link icon"/>
          </div>
          <div class="label">This comic on marvel.com</div>
        </a>
      </div>
    </div>
    <div class="comic-title">{{ item.title }}</div>
  </li>
</ul>
