@import '../../config/config.scss';

:host {
  display: block;
  height: calc(100vh - 94px);
  width: 100%;
}

.landing-part {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: black;
}

.greetings {
  background:
    linear-gradient(
      to bottom,
      rgba(0,0,0,.4) 0%,
      rgba(0,0,0,.4) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(217,105,37,.1) 0%,
      rgba(217,105,37,.1) 100%
    ), 
    url('assets/landing-bg.jpg') center center no-repeat;
  background-size: cover;
  box-shadow:
    inset 0 0 20rem #000000,
    inset 0 0 20rem #000000,
    inset 0 0 20rem #000000;

  &-shapes {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &-triangle {
    width: 0;
    border-top: 70vh solid transparentize($marvel-color, 0.74);
    border-right: 70vh solid transparent;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  &-line {
    background: transparentize($marvel-color, 0.74);
    width: 100vh;
    height: 7rem;
    position: absolute;
    transform: rotate(-45deg) translate(-30%, -30%);
  }

  &-content {
    position: absolute;
    text-transform: uppercase;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }

  &-title {
    font-size: 3.7rem;
    font-weight: 400;
    font-style: italic;
    display: block;
    margin: 0;

    @media (min-width: $small-screen + 1) {
      white-space: nowrap;
    }
  }

  &-subtitle {
    font-size: 2rem;
    font-weight: 300;
    display: block;
    text-align: right;
    margin: 0;
  }

  &-link {
    margin: 3rem auto;
    display: inline-block;
  }
}

mrs-footer {
  position: absolute;
  bottom: 0;
  left: 0;
}
