@import '../../../style/config.scss';

.types-menu {
  max-width: 1024px;
  list-style: none;
  padding: 0;
  margin: auto;
  text-align: center;

  &-item {
    display: inline-block;
    margin: auto 2rem;

    a {
      display: block;
      margin: 2rem auto;
      width: 20rem;
      height: 14rem;
      line-height: 11rem;
      padding: 1rem;
      background: $dark-grey;
      text-decoration: none;
      color: white;
      font-size: 2rem;

      &:hover, &:focus {
        background: lighten($dark-grey, 5%);
      }
    }

    span {
      display: inline-block;
      line-height: normal;
      vertical-align: bottom;
    }
  }
}
