@import "../../../style/config.scss";

h2 {
  text-transform: capitalize;
}

.letter-filter {
  text-transform: uppercase;

  ul {
    list-style: none;
    padding: 0 4rem;
    text-align: center;
  }

  li {
    display: inline-block;
    margin-bottom: 2rem;

    &:not(:last-child) {
      &::after {
        content: "-";
        display: inline-block;
        margin: auto 1rem;
      }
    }
  }

  .active {
    color: $marvel-color;
  }

  a {
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.paginator {
  list-style: none;
  max-width: 1024px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: -2rem auto 2rem;
  padding: 1rem;

  &-item {
    display: inline-block;

    a, span {
      display: inline-block;
      padding: 0.6rem;
      text-align: center;
    }

    a {
      text-decoration: none;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }

    .active {
      color: $marvel-color;
    }

    &:not(:last-child)::after {
      content: "-";
      display: inline-block;
      margin: 0 0.4rem;
    }
  }
}
