@import '../../../config/config.scss';

:host {
  display: block;
  height: calc(100vh - 94px);
  width: 100%;
  background: white;
  color: $dark-grey;
}

mrs-footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

a {
  color: currentColor;
  text-decoration: none;

  &:hover, &:focus, .active {
    color: $marvel-color;
  }
  &:active {
    text-decoration: underline;
  }
}

.toolbar {
  padding: 0.6rem 2rem;
  border-bottom: 1px solid $lighter-grey;
  display: flex;
}

.breadcrumb {
  flex: none;
  border-right: 1px solid $lighter-grey;
  padding: 0.4rem 1rem;
  color: $dark-grey;
  text-transform: uppercase;

  a {
    display: inline-block;
    vertical-align: middle;
  }
}

.results {
  height: calc(100% - 6rem);
  overflow: auto;
}

.no-results {
  margin: 5rem auto;
  text-align: center;
  font-size: 2rem;
}