@import '../../../config/config.scss';

:host {
  display: block;
  min-height: calc(100vh - 94px);
  width: 100%;
  background: white;
  color: $dark-grey;
}

mrs-footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

a {
  color: currentColor;
  text-decoration: none;

  &:hover, &:focus, .active {
    color: $marvel-color;
  }
  &:active {
    text-decoration: underline;
  }
}

.toolbar {
  padding: 0.6rem 2rem;
  border-bottom: 1px solid $lighter-grey;
  display: flex;
}

.breadcrumb {
  flex: none;
  border-right: 1px solid $lighter-grey;
  padding: 0.4rem 1rem;
  color: $dark-grey;
  text-transform: uppercase;

  a {
    display: inline-block;
    vertical-align: middle;
  }
}

.alpha-pagination {
  flex: 1 1 auto;
  padding: 0 1rem;
  margin: 0;
  color: $light-grey;
  font-size: 1.1rem;
  text-transform: uppercase;
  list-style: none;

  li {
    display: inline-block;
  }

  a, span {
    display: block;
    font-weight: 300;
    padding: 0.4rem;

    &.active {
      color: $marvel-color;
    }
  }
}

.no-results {
  margin: 5rem auto;
  text-align: center;
  font-size: 2rem;
}

.list-pagination {
  display: block;
  padding: 4rem 2rem;
  text-transform: uppercase;

  .step, .first, .last {
    display: inline-block;
  }

  .step {
    margin: 0 1rem;
  }

  a, .current {
    padding: 0.5rem 1rem;
    line-height: 1.5rem;
  }

  a {
    background: $lighter-grey;
  }

  .current {
    background: $marvel-color;
    color: white;
  }

  .number {
    color: $light-grey;
    margin: 0 0.5rem;
  }
}