@import "../config/config.scss";

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

mrs-header {
  width: 100%;
  flex: none;
  z-index: 2;
}

main {
  width: 100%;
  flex: 1 0 auto;
  z-index: 1;
  background: black;
  color: white;
}
