@import "../style/config";
@import '~knacss/sass/_include-media/_include-media.scss';

header {
  background-color: black;
  color: white;
  padding: 2rem 8vw;

  nav {
    display: inline-block;

    @include media('>tablet') {
      float: right;
    }

    @include media('<=tablet') {
      display: block;
      overflow: hidden;
      max-height: 0;
      margin: 0;
      transition: max-height 0.3s ease-out,
                  margin 0.3s ease-out;

      &.opened {
        margin-top: 2rem;
        max-height: 50vh;
      }
    }
  }

  a {
    display:block;
    padding: 1em 2em;
    color: $light-grey;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.2s ease-out;

    &:hover, &:focus {
      color: $lighter-grey;
    }

    &.active {
      color: white;
    }

    @include media('>tablet') {
      display: inline-block;
    }
  }
}

.nav-toggle {
  display: inline-block;
  overflow: hidden;
  padding: 1rem;
  cursor: pointer;
  float: right;
  margin: 6px 0;

  @include media('>tablet') {
    display: none;
  }

  &.opened {
    .icon-bar {
      &:nth-child(2) {
        transform: rotateZ(-45deg) translate(-5px, 5px);
      }
      &:nth-child(3) {
        transform: rotateZ(45deg);
      }
      &:nth-child(4) {
        opacity: 0;
        transform: translateY(2rem);
      }
    }
  }
}

.icon-bar {
  width: 2rem;
  height: 2px;
  background: white;
  border-radius: 1px;
  transition: transform 0.2s ease-out,
              opacity 0.2s ease-out;

  & + .icon-bar {
    margin-top: 0.5rem;
  }
}

.app-title {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;

  h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
  }
}

.mrs-logo {
  max-height: 50px;
  max-width: 100%;
}

main {
  min-height: 80vh;
}

footer {
  padding: 2rem;
  background: black;
  color: white;
  font-weight: lighter;

  a {
    color: white;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  p {
    display: inline-block;
    margin: 0 1rem;
  }
}
