<header>
  <div class="app-title">
    <h1 class="sr-only">{{ title }}</h1>
    <img class="mrs-logo" src="img/mrs-logo.svg"/>
  </div>
  <div [ngClass]="{'opened': showNav}" class="nav-toggle" attr.aria-expanded="{{ showNav }}" (click)="toggleNav()" (keyup.enter)="toggleNav()" tabindex="0">
    <span class="sr-only">Toogle navigation</span>
    <div class="icon-bar"></div>
    <div class="icon-bar"></div>
    <div class="icon-bar"></div>
  </div>
  <nav [ngClass]="{'opened': showNav}" attr.aria-expanded="{{ showNav }}">
    <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a [routerLink]="['library']" routerLinkActive="active">Library</a>
    <a [routerLink]="['collection']" routerLinkActive="active">My collection</a>
    <a [routerLink]="['stats']" routerLinkActive="active">My stats</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <p>
    <a href="http://developer.marvel.com/" title="Marvel developer website">Data provided by Marvel</a>. © 2016 <a href="http://marvel.com/" title="Marvel website">Marvel</a>
  </p>
  <p>
    <a href="https://github.com/SBats/marvel-reading-stats-frontend/" title="Marvel Reading Stats github repository">Open-source application</a> by <a href="http://simonbats.com/" title="Simon Bats website">Simon Bats</a>
  </p>
</footer>
