<header>
  <div class="app-title">
    <h1>{{ title }}</h1>
  </div>
  <nav>
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['library']">Library</a>
    <a [routerLink]="['collection']">My collection</a>
    <a [routerLink]="['stats']">My stats</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="bfc">
    <p class="fl">
      Data provided by <a href="http://marvel.com/" title="Marvel website">Marvel</a>. © 2014 Marvel
    </p>
    <p class="fr">
      <a href="https://github.com/SBats/marvel-reading-stats-frontend/" title="Marvel Reading Stats github repository">Open-source application</a> by <a href="http://simonbats.com/" title="Simon Bats website">Simon Bats</a>
    </p>
  </div>
</footer>
