<header>
  <div class="app-title">
    <h1>{{ title }}</h1>
  </div>
  <nav>
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['library']">Library</a>
    <a [routerLink]="['collection']">My collection</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <p>
    Made with <a href="http://angular.io" title="Angular 2 framework website">Angular 2</a> by <a href="http://simonbats.com/" title="Simon Bats website">Simon Bats</a>
  </p>
  <p>
    It's Open-source and you can <a href="https://github.com/SBats/marvel-reading-stats-frontend" title="Marvel Reading Stats github repository">find the sources here</a> !
  </p>
</footer>
