@import '../../../config/config.scss';

:host {
  display: flex;
  align-items: center;
}

ul {
  padding: 0 1rem;
  margin: 0;
  color: $light-grey;
  font-size: 1.1rem;
  text-transform: uppercase;
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: currentColor;
  text-decoration: none;

  &:hover, &:focus, .active {
    color: $marvel-color;
  }
  &:active {
    text-decoration: underline;
  }
}

a, span {
  display: block;
  font-weight: 300;
  padding: 0.4rem;

  &.active {
      color: $marvel-color;
  }
}
