@import '../../../config/config.scss';

header {
  background-color: black;
  color: white;
  padding: 1rem 3rem;

  nav {
    display: inline-block;

    a {
      display: inline-block;
      padding: 1em 2em;
      color: $light-grey;
      text-transform: uppercase;
      text-decoration: none;
      transition: color 0.2s ease-out;

      &:hover, &:focus {
        color: $lighter-grey;
      }

      &.active {
        color: $marvel-color;
      }
    }
  }
}

.app-title {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.mrs-logo {
  height: 60px;
  width: auto;
}