@import './config.scss';
// KNACSS Framework !
@import '~knacss/sass/knacss.scss';

// styles in src/style directory are applied to the whole page
html, body {
  width: 100%;
  height: 100%;
  font-family: $main-font;
  letter-spacing: 0.2rem;
}
