mrs-comics-list + mrs-paginator {
  margin-top: -4rem;
}

.description {
  max-width: 1024px;
  padding: 3rem;
  margin: auto;
  font-size: 1.8rem;
  line-height: 2;
  background: black;
  color: white;
}