<h2>Login</h2>
<form 
  [formGroup]="form"
  (submit)="onSubmit()">
  <div class="field">
    <label for="usernameField">Username</label>
    <input
      type="text"
      name="username"
      [class.error]="errors.username"
      [formControl]="username">
    <div
      *ngIf="errors.username"
      class="error message">
      {{errors.username}}
    </div>
  </div>
  <div class="field">
    <label for="passwordField">Password</label>
    <input
      type="password"
      name="password"
      [class.error]="errors.password"
      [formControl]="password">
    <div
      *ngIf="errors.password"
      class="error message">
      {{errors.password}}
    </div>
  </div>
  <button class="mrs-button" type="submit">
    <div>Login</div>
  </button>
</form>