@import '../../../config/config.scss';

h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 1rem auto 3rem;
}

.field {
  margin: 2rem auto;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 0.6rem;
  font-weight: 300;
}

input {
  border: 1px solid $lighter-grey;
  padding: 0.6rem 1rem;

  &.error {
    border-color: $marvel-color;
  }
}

.message {
  padding: 0.6rem 1rem;

  &.error {
    color: $marvel-color;
    border-color: $marvel-color;
  }
}
