<h2 class="home-title">Collect and share stats about your readings of the marvelous Marvel universe</h2>
<div *ngIf="!userHasCollection" class="greetings grid-2-small-1">
  <div class="greetings-title">
    <h3>Welcome&nbsp;!</h3>
  </div>
  <div class="greetings-links">
    <a href [routerLink]="['/library']">
      Start by adding comics to your collection
    </a>
  </div>
</div>
<div *ngIf="userHasCollection" class="greetings grid-2-small-1">
  <div class="greetings-title">
    <h3>Welcome back&nbsp;!</h3>
  </div>
  <div class="greetings-links">
    <a href [routerLink]="['/collection']">
      Browse your collection
    </a>
    <div>Or</div>
    <a href [routerLink]="['/library']">
      Keep filling it
    </a>
  </div>
</div>
