@import '../../../config/config.scss';

:host {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding: 4rem 2rem;
  text-transform: uppercase;
  color: $dark-grey;
}

.step, .first, .last {
  display: inline-block;
  flex: none;
  margin: auto;

  @media (min-width: $tiny-screen + 1) {
    margin: auto 0;
  }
}

.step {
  order: -1;
  width: calc(100% - 4rem);
  height: 4rem;

  @media (min-width: $tiny-screen + 1) {
    margin: 0 1rem;
    order: 0;
    width: auto;
    height: auto;
  }
}

a, .current {
  padding: 0.5rem 1rem;
  line-height: 1.5rem;
}

a {
  background: $lighter-grey;
  color: currentColor;
  text-decoration: none;

  &:hover, &:focus {
    color: $marvel-color;
  }
}

.current {
  background: $marvel-color;
  color: white;
}

.number {
  color: $light-grey;
  margin: 0 0.5rem;
}