footer {
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 300;

  a {
    color: currentColor;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  p {
    text-align: center;
    margin: 0 1rem;
  }
}
